{% extends layout_path %} 
{% load static %} 
{% load i18n %} 
{% block title%}Product Creation{% endblock %} {% block vendor_css %} {{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/select2/select2.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'vendor/libs/@form-validation/umd/styles/index.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/libs/flatpickr/flatpickr.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/libs/bootstrap-select/bootstrap-select.css'%}"
/>
<link rel="stylesheet" href="{% static 'vendor/libs/dropzone/dropzone.css'%}" />
<link
  rel="stylesheet"
  href="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.css'%} "
/>
{% endblock vendor_css %} {% block vendor_js %} {{ block.super }}
<script src="{% static 'vendor/libs/select2/select2.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/bundle/popular.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js' %}"></script>
<script src="{% static 'vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js' %}"></script>
<script src="{% static 'vendor/libs/flatpickr/flatpickr.js' %}"></script>
<script src="{% static 'vendor/libs/bootstrap-select/bootstrap-select.js'%}"></script>
<script src="{% static 'vendor/libs/dropzone/dropzone.js'%}"></script>
<script src="{% static 'vendor/libs/bootstrap-maxlength/bootstrap-maxlength.js'%}"></script>

{% endblock vendor_js %}
 {% block page_js %} 
 {{ block.super }}
 <script>
    var toastElements = document.querySelectorAll('.toast');

if (toastElements) {
  toastElements.forEach(function (element) {
    var toast = new bootstrap.Toast(element);
    toast.show();
  });
}

 </script>
  {% endblock page_js %}
 {% block content %}


 {% if messages %}
 <div class="toast-container end-0 m-1 me-4">
   {% for message in messages %}
   <div class="toast {% if message.tags == 'success' %}bg-success{% elif message.tags == 'error' %}bg-danger{% else %}bg-warning{% endif %}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-bs-delay="2000">
     <div class="toast-body text-center text-white">
       {{ message }}
     </div>
   </div>
   {% endfor %}
 </div>
 {% endif %}
 

 
<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">{% translate "Product" %} /</span>
  {%translate " Product " %}{%translate " Creation " %}
</h4>
<div class="card">

  <div class="card-body mt-4">
    <form
      class="add-transactions pt-0"
      id="addTransactionForm"
      action=""
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}

      <div class="form-floating form-floating-outline mb-4">
        {{ product_form.name }}
        <label for="session-name">{% translate 'Product Name' %}</label>
      </div>

      <div class="form-floating form-floating-outline mb-4">
        {{ product_form.description }}
        <label for="description">{% translate 'Description' %}</label>
      </div>

      <div class="row">
        <div class="col-md">
          <div class="input-group input-group-merge mb-4">
            <span class="input-group-text">AED</span>
            <div class="form-floating form-floating-outline">
              {{product_form.price}}
              <label for="session-price">{% translate 'Price' %}</label>
            </div>
            <span class="input-group-text">.00</span>
          </div>
        </div>

        <div class="col-md">
          <div class="input-group input-group-merge mb-4">
            <div class="form-floating form-floating-outline">
              {{ product_form.vat }}
              <label for="session-vat">{% translate 'VAT' %}</label>
            </div>
            <span class="input-group-text">%</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <div class="form-floating form-floating-outline mb-4">
            {{product_form.code}}
            <label for="session-price">{% translate 'Code' %}</label>
          </div>
        </div>

        <div class="col-md">
          <div class="form-floating form-floating-outline mb-4">
            {{ product_form.stock }}
            <label for="session-vat">{% translate 'Stock' %}</label>
          </div>
        </div>
      </div>

      <div class="form-floating form-floating-outline mb-4">
        {{ product_form.image }}
      </div>

      <div>
        <button
          type="submit"
          class="btn btn-primary me-sm-3 me-1"
          name="submitButton"
        >
          {% translate 'Submit'%}
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
